body {
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
    color: #00b7ff;
    text-decoration: none; /* no underline */
}

.spacer {
    margin-top: 20px;
    margin-bottom: 5px;
}

.checked {
    color: gold;
}
